body {
    min-height: 75rem;
    padding-top: 8.4rem;
    color: $text-color;
}

// slider style
.carousel-caption {
    right: auto;
    left: 21%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    top: 15%;
    border-radius: 18px;
    bottom: auto;

    .btn {
        border-color: #fff;
        color: #fff;
    }
}

// welcome style
.welcome {
    background-color: $body-color1;
    position: relative;

    .title {
        @include title-border(18%, 19%);

        &::before {
            left: 10%;
            width: 11%;
        }

        &::after {
            left: 2%;
            width: 28%;
        }
    }

    .bicylke {
        max-width: 100%;

        &:hover {
            -webkit-animation: swing 1s ease;
            animation: swing 1s ease;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }
}

.zig-zag.section-separator {
    border: none;
    height: 40px;
    margin: 0;

    &.first {
        @include zig-zag-separator($body-color1, $body-color2, $separator-color);
    }

    &.second {
        @include zig-zag-separator($body-color2, $body-color3, $separator-color);
    }

    &.third {
        @include zig-zag-separator($body-color3, $body-color4, $separator-color);
    }

    &.fourth {
        @include zig-zag-separator($body-color4, $footer-color, $separator-color);
    }
}

// activities style
.activities {
    padding: 50px 0;
    width: 100%;
    color: $text-color;
    background-color: $body-color2;
    position: relative;

    .title {
        @include title-border(18%, 19%);
    }

    .activity {
        margin-top: 40px;

        h5 {
            padding: 0.8em 0;
        }

        .icon-container {
            border-radius: 50%;
            padding: 28px;
            background-color: $header-color;
            width: 7em;
            height: 7em;
            margin: 0 auto;
            position: relative;

            &:hover {
                background-color: #fff;
            }

            &:hover i {
                color: $header-color;
            }

            i {
                font-size: 3.5em;
                color: #fff;
            }

            .border-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border: 4px dashed $header-color;
                background: transparent;
                border-radius: 50%;

                &:hover {
                    animation: rotate 4s linear infinite;
                }
            }
        }
    }
}

// gallery style
.gallery {
    background-color: $body-color3;
    padding: 50px 0;
    position: relative;

    .title {
        @include title-border(11.5%, 12%);

        &::after {
            left: 43%;
            width: 15%;
        }
    }

    .btn-group {
        margin-left: 20rem;
        margin-top: 2rem;

        .btn {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: white;
            cursor: pointer;
            color: $text-color;
          }
          
          /* Add a grey background color on mouse-over */
          .btn:hover {
            background-color: #ddd;
          }
          
          /* Add a dark background color to the active button */
          .btn.active {
            background-color: #666;
             color: white;
          }
    }

    .img-container {
        padding: 0.5em;

        .img-thumbnail {
            border: 2px solid white;
            border-radius: 1.25rem;
        }

    }
}







.animate {
    text-align: center;
    color: #555;
    font-size: 32px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);

    div {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    div:first-of-type {
        /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now */
        animation: showup 7s infinite;
    }

    div:last-of-type {
        width: 0px;
        animation: reveal 7s infinite;
    }

    div:last-of-type span {
        margin-left: -355px;
        animation: slidein 7s infinite;
    }

    @keyframes showup {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes slidein {
        0% {
            margin-left: -800px;
        }

        20% {
            margin-left: -800px;
        }

        35% {
            margin-left: 0px;
        }

        100% {
            margin-left: 0px;
        }
    }

    @keyframes reveal {
        0% {
            opacity: 0;
            width: 0px;
        }

        20% {
            opacity: 1;
            width: 0px;
        }

        30% {
            width: 355px;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            width: 355px;
        }
    }

}



.circle1 {
    width: 100px;
    height: 100px;
    position: relative;

}

.circle1 .border1 {
    /* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 50%;
    border: 2px dashed rgb(199, 49, 49);

    &:hover {
        animation: rotate 2s linear infinite;
    }
}

.play {
    padding: 20px 30px;
    font-size: 56px;
}



.zig-zag.separator-transparent {
    border: none;
    position: relative;
    top: -88px;
    right: 0;
    height: 40px;
    background: linear-gradient(315deg, $separator-color 25%, transparent 25%), linear-gradient(45deg, $separator-color 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: transparent;
    z-index: 2;
    // // maked with 4 linear gradients 
    // background: linear-gradient(135deg, rgba(255, 255, 255, 01) 25%, transparent 25%) -20px 0,
    // linear-gradient(225deg, rgba(255, 255, 255, 1) 25%, transparent 25%) -20px 0,
    // linear-gradient(315deg, rgba(255, 255, 255, 1) 25%, transparent 25%),
    // linear-gradient(45deg, rgba(255, 255, 255, 1) 25%, transparent 25%);
}


.zig-zag.separator-after-transparent {
    border: none;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -6.5em;
    right: 0px;
    height: 40px;
    // maked with 4 linear gradients 
    background: linear-gradient(135deg, $separator-color 25%, transparent 25%) -20px 0,
        linear-gradient(225deg, $separator-color 25%, transparent 25%) -20px 0;
    // linear-gradient(315deg, #fff 25%, transparent 25%),
    // linear-gradient(45deg, #fff 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: transparent;
}

.crcl {
    background-color: $body-color4;
}

/* gallery-jekyll*/

// .galleryWrap
// {
//     overflow: hidden;
//     margin: 10px;
// }
// .pictureBox
// {
//     float: left;
//     position: relative;
//     width: 20%;
//     padding-bottom: 20%;
// }
// .innerBox
// {
//     position: absolute;
//     left: 10px;
//     right: 10px;
//     top: 10px;
//     bottom: 10px;
//     overflow: hidden;
// }
// .innerBox img
// {
//     width: 100%;
// }
// .innerBox .titleBox
// {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin-bottom: -50px;
//     background: #000;
//     background: rgba(0, 0, 0, 0.5);
//     color: #FFF;
//     padding: 10px;
//     text-align: center;
//     -webkit-transition: all 0.3s ease-out;
//     -moz-transition: all 0.3s ease-out;
//     -o-transition: all 0.3s ease-out;
//     transition: all 0.3s ease-out;
// }
// .innerBox:hover .titleBox
// {
//     margin-bottom: 0;
// }
// @media only screen and (max-width : 480px)
// {
//     /* Smartphone view: 1 tile */
//     .pictureBox
//     {
//     width: 100%;
//     padding-bottom: 100%;
//     }
// }
// @media only screen and (max-width : 650px) and (min-width : 481px)
// {
//     /* Tablet view: 2 tiles */
//     .pictureBox
//     {
//     width: 50%;
//     padding-bottom: 50%;
//     }
// }
// @media only screen and (max-width : 1050px) and (min-width : 651px)
// {
//     /* Small desktop / ipad view: 3 tiles */
//     .pictureBox
//     {
//     width: 33.3%;
//     padding-bottom: 33.3%;
//     }
// }
// @media only screen and (max-width : 1290px) and (min-width : 1051px)
// {
//     /* Medium desktop: 4 tiles */
//     .pictureBox
//     {
//     width: 25%;
//     padding-bottom: 25%;
//     }
// }