body {
    min-height: 75rem;
    padding-top: 8.4rem;
    color: $text-color;
}

.colour-block {
    background: $header-color;
    width: 100%;
    color: #fff;
}

.white-block {
    background: #fff;
    width: 100%;
    color: $header-color;
}

.after-slider {
    margin-top: -25px;
}

.scallop-up {
    height: 25px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from($header-color), color-stop(0.49, $header-color), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    -webkit-background-size: 49px 100%;
}

.scallop-down {
    height: 25px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from($header-color), color-stop(0.49, $header-color), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    -webkit-background-size: 49px 100%;
}

// .scallop-up.slider {
//     position: relative;
//     top: -25px;
//     z-index: 2;
// }









.title {
    font-size: 2rem;
}

.separator {
    border: 0;
    height: 3px;
    background: $body-color1;
    margin: 0 auto;
    width: 20%;
}

.separator-min {
    border: 0;
    height: 5px;
    background: $body-color1;
    margin: 0 auto;
    width: 7%;
}

.carousel-caption {
    right: auto;
    left: 21%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.178);
    top: 15%;
    border-radius: 18px;
    bottom: auto;

    .btn {
        border-color: #fff;
        color: #fff;
    }
}

.welcome {
    background-color: $body-color1;

    .bicylke {
        max-width: 100%;
    }
}

.zig-zag.section-separator {
    border: none;
    height: 40px;
    margin: 0;

    &.first {
        background: linear-gradient(135deg, $body-color1 25%, transparent 25%) -20px 0,
            linear-gradient(225deg, $body-color1 25%, transparent 25%) -20px 0,
            linear-gradient(315deg, $body-color2 25%, transparent 25%),
            linear-gradient(45deg, $body-color2 25%, transparent 25%);
        background-size: 40px 40px;
        background-color: white;

    }

    &.second {
        background: linear-gradient(135deg, $body-color2 25%, transparent 25%) -20px 0,
            linear-gradient(225deg, $body-color2 25%, transparent 25%) -20px 0,
            linear-gradient(315deg, $body-color3 25%, transparent 25%),
            linear-gradient(45deg, $body-color3 25%, transparent 25%);
        background-size: 40px 40px;
        background-color: white;
    }

    &.third {
        background: linear-gradient(135deg, $body-color3 25%, transparent 25%) -20px 0,
            linear-gradient(225deg, $body-color3 25%, transparent 25%) -20px 0,
            linear-gradient(315deg, $header-color 25%, transparent 25%),
            linear-gradient(45deg, $header-color 25%, transparent 25%);
        background-size: 40px 40px;
        background-color: white;
    }

    &.fourth {
        background: linear-gradient(135deg, $header-color 25%, transparent 25%) -20px 0,
            linear-gradient(225deg, $header-color 25%, transparent 25%) -20px 0,
            linear-gradient(315deg, $footer-color 25%, transparent 25%),
            linear-gradient(45deg, $footer-color 25%, transparent 25%);
        background-size: 40px 40px;
        background-color: white;
    }
}

.activities {
    padding: 50px 0;
    width: 100%;
    color: $text-color;
    background-color: $body-color2;

    .activity {
        margin-top: 40px;

        h5 {
            padding: 0.8em 0;
            color: $body-color1;
        }

        .icon-container {
            border-radius: 50%;
            padding: 28px;
            background-color: $header-color;
            width: 7em;
            height: 7em;
            margin: 0 auto;
            position: relative;

            &:hover {
                background-color: #fff;
            }

            &:hover i {
                color: $header-color;
            }

            i {
                font-size: 3.5em;
                color: #fff;
            }

            .border-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border: 4px dashed $header-color;
                background: transparent;
                border-radius: 50%;

                &:hover {
                    animation: rotate 4s linear infinite;
                }
            }
        }
    }
}

.gallery {
    background-color: $body-color3;

    .btn-group{
        margin-left: 20rem;
    }

    .img-container {
        padding: 0.5em;

        .img-thumbnail {
            border: 2px solid white;
            border-radius: 1.25rem;
        }

    }
}

.animate {
    text-align: center;
    color: #555;
    font-size: 32px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);

    div {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    div:first-of-type {
        /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now */
        animation: showup 7s infinite;
    }

    div:last-of-type {
        width: 0px;
        animation: reveal 7s infinite;
    }

    div:last-of-type span {
        margin-left: -355px;
        animation: slidein 7s infinite;
    }

    @keyframes showup {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes slidein {
        0% {
            margin-left: -800px;
        }

        20% {
            margin-left: -800px;
        }

        35% {
            margin-left: 0px;
        }

        100% {
            margin-left: 0px;
        }
    }

    @keyframes reveal {
        0% {
            opacity: 0;
            width: 0px;
        }

        20% {
            opacity: 1;
            width: 0px;
        }

        30% {
            width: 355px;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            width: 355px;
        }
    }

}



.circle1 {
    width: 100px;
    height: 100px;
    position: relative;

}

.circle1 .border1 {
    /* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 50%;
    border: 2px dashed rgb(199, 49, 49);

    &:hover {
        animation: rotate 2s linear infinite;
    }
}

.play {
    padding: 20px 30px;
    font-size: 56px;
}



.zig-zag.separator-transparent {
    border: none;
    position: relative;
    top: -88px;
    right: 0;
    height: 40px;
    background: linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: transparent;
    z-index: 2;
    // // maked with 4 linear gradients 
    // background: linear-gradient(135deg, rgba(255, 255, 255, 01) 25%, transparent 25%) -20px 0,
    // linear-gradient(225deg, rgba(255, 255, 255, 1) 25%, transparent 25%) -20px 0,
    // linear-gradient(315deg, rgba(255, 255, 255, 1) 25%, transparent 25%),
    // linear-gradient(45deg, rgba(255, 255, 255, 1) 25%, transparent 25%);
}


.zig-zag.separator-after-transparent {
    border: none;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -6.5em;
    right: 0px;
    height: 40px;
    // maked with 4 linear gradients 
    background: linear-gradient(135deg, #fff 25%, transparent 25%) -20px 0,
        linear-gradient(225deg, #fff 25%, transparent 25%) -20px 0;
        // linear-gradient(315deg, #fff 25%, transparent 25%),
        // linear-gradient(45deg, #fff 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: transparent;
}

.crcl {
    background-color: $header-color;
}