body {
    min-height: 75rem;
    padding-top: 8.4rem;
    color: $text-color;
}

.colour-block {
    background: $block-color;
    width: 100%;
    color: #fff;
}

.white-block {
    background: #fff;
    width: 100%;
    color: $block-color;
}

.after-slider {
    margin-top: -25px;
}

.scallop-up {
    height: 25px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from($block-color), color-stop(0.49, $block-color), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    -webkit-background-size: 49px 100%;
}

.scallop-down {
    height: 25px;
    width: 100%;
    background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from($block-color), color-stop(0.49, $block-color), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    -webkit-background-size: 49px 100%;
}

.scallop-up.slider {
    position: relative;
    top: -25px;
    z-index: 2;
}

.title {
    font-size: 2rem;
}

.separator {
    border: 0;
    height: 3px;
    background: $sub-color;
    margin: 0 auto;
    width: 20%;
}

.separator-min {
    border: 0;
    height: 5px;
    background: $sub-color;
    margin: 0 auto;
    width: 7%;
}

.welcome {
    background-color: antiquewhite;

    .bicylke {
        max-width: 100%;
    }
}

.activities {
    padding: 50px 0;
    // background: $block-color;
    width: 100%;
    color: $text-color;

    .activity {
        margin-top: 40px;

        h5 {
            padding: 0.8em 0;
            color: $sub-color;
        }

       

        .icon-container {
            // border: 4px solid $block-color;
            border-radius: 50%;
            padding: 28px;
            background-color: $block-color;
            width: 7em;
            height: 7em;
            margin: 0 auto;
            position: relative;

            &:hover {
                background-color: white;
    
                // animation: spin 2s linear;
            }

            &:hover i {
                color: $block-color;
            }
    
            i {
                font-size: 3.5em;
                color: #fff;
            }

            .border-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border: 4px dashed $block-color;
                background: transparent;
                border-radius: 50%;
            
                &:hover {
                    animation: rotate 4s linear infinite;
                }
            }
        }

        

        

        // @-webkit-keyframes spin {
        //     100% {transform: rotate(1turn); }
        //   }

    }
}

.animate {
    text-align: center;
    color: #555;
    font-size: 32px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);

    div {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    div:first-of-type {
        /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now */
        animation: showup 7s infinite;
    }

    div:last-of-type {
        width: 0px;
        animation: reveal 7s infinite;
    }

    div:last-of-type span {
        margin-left: -355px;
        animation: slidein 7s infinite;
    }

    @keyframes showup {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes slidein {
        0% {
            margin-left: -800px;
        }

        20% {
            margin-left: -800px;
        }

        35% {
            margin-left: 0px;
        }

        100% {
            margin-left: 0px;
        }
    }

    @keyframes reveal {
        0% {
            opacity: 0;
            width: 0px;
        }

        20% {
            opacity: 1;
            width: 0px;
        }

        30% {
            width: 355px;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            width: 355px;
        }
    }

}



.circle1 {
    width: 100px;
    height: 100px;
    position: relative;

}

.circle1 .border1 {
    /* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 50%;
    border: 2px dashed rgb(199, 49, 49);

    &:hover {
        animation: rotate 2s linear infinite;
    }
}

.play {
    padding: 20px 30px;
    font-size: 56px;
}

