@mixin zig-zag-separator($color1: #ffffff, $color2: #ffffff, $separator-color: #ffffff) {
    background: linear-gradient(135deg, $color1 25%, transparent 25%) -1.25rem 0,
        linear-gradient(225deg, $color1 25%, transparent 25%) -1.25rem 0,
        linear-gradient(315deg, $color2 25%, transparent 25%),
        linear-gradient(45deg, $color2 25%, transparent 25%);
    background-size: 1.25rem 2.5rem;
    background-color: $separator-color;
}

@mixin title-border{
    font-size: 2rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 86%;
        left: 47%;
        height: 5px;
        background: $text-color;
        margin: 0 auto;
        width: 7%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 96%;
        left: 42%;
        height: 4px;
        background: $text-color;
        margin: 0 auto;
        width: 17%;
    }
}