@mixin zig-zag-separator($color1: #ffffff, $color2: #ffffff, $separator-color: #ffffff) {
    background: linear-gradient(135deg, $color1 25%, transparent 25%) -1.25rem 0,
        linear-gradient(225deg, $color1 25%, transparent 25%) -1.25rem 0,
        linear-gradient(315deg, $color2 25%, transparent 25%),
        linear-gradient(45deg, $color2 25%, transparent 25%);
    background-size: 1.25rem 2.5rem;
    background-color: $separator-color;
}

@mixin title-border{
    font-size: 2rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 86%;
        left: 47%;
        height: 5px;
        background: $text-color;
        margin: 0 auto;
        width: 7%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 96%;
        left: 42%;
        height: 4px;
        background: $text-color;
        margin: 0 auto;
        width: 17%;
    }
}

@mixin box-shadow{
    -webkit-border-radius: 10%;
    border-radius: 10%;
    // -webkit-animation: moveIn 1s 2s ease forwards;
    // animation: moveIn 1s 2s ease forwards;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgb(234, 234, 234);
    box-shadow: 0px 0px 0px 8px rgb(234, 234, 234);

    &:hover {
        -webkit-box-shadow: 0px 0px 0px 12px rgb(214, 214, 214);
        box-shadow: 0px 0px 0px 12px rgb(214, 214, 214);
      }
}