@media screen and (max-width: 1024px) {
  .services .service-card {
    h3 {
      font-size: 1.4em;
    }

    p {
      display: none;
    }
  }

  .classes-list .class-card .class-info ul li:first-of-type {
    border: none;
  }

  .teachers .teacher .teacher-card .teacher-info p:last-of-type {
    display: none;
  }

  footer .container .social-icons a {
    margin: 0;
  }
}

@media screen and (max-width: 960px) {
  .navbar .nav-item a:hover::after {
    visibility: hidden;
  }

  .navbar .nav-item.active a::after {
    visibility: hidden;
  }

  .gallery .btn-group {
    margin-left: 22%;
  }

  footer .container .social-icons a {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption p {
    display: none;
  }

  .classes-details section,
  .classes-details aside {
    float: none;
    width: 100%;
  }

  .timetable {
    .table {
      display: none;
    }

    .small-timetable {
      display: block;
    }
  }

  footer .container h4::after {
    top: 10%;
  }
}

@media screen and (max-width: 640px) {
  .slider {
    display: none;
  }

  .gallery .btn-group {
    margin-left: 10%;
  }

  .welcome .bicylke {
    display: none;
  }

  .classes .row .card .price-box {
    bottom: 9.5rem;
  }

  .classes .row div:first-of-type .card .price-box {
    bottom: 11rem;
  }

  .classes-list .class-card .class-info ul li:first-of-type {
    border-right: 1px solid rgb(228, 228, 228);
  }

  .services .service-card {
    margin-bottom: 2rem;
  }

  .services .service-card p {
    display: block;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .teachers .teacher .teacher-card .teacher-info p:last-of-type {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .gallery .btn-group {
    margin-left: 5%;

    button {
      font-size: 1rem;
    }
  }

  footer .container h4::after {
    top: 15%;
  }
}

@media screen and (max-width: 375px) {
  .gallery .btn-group {
    margin-left: 0;

    button {
      padding: 0.5rem 0.85rem;
    }
  }

  .classes .row .card .price-box {
    bottom: 11rem;
  }
}

@media screen and (max-width: 320px) {
  header .navbar a.navbar-brand {
    width: 70%;
  }

  .gallery .btn-group button {
    padding: 0.5rem;
  }

  .classes-list .class-card .class-info ul li:first-of-type {
    border: none;
  }
}