.navbar {
    background: $header-color;
    position: relative;

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .nav-item {
        padding-right: 1em;

        a {
            color: #ffffff;
            font-size: 1.2em;
            position: relative;

            &::after {
                content: '';
                visibility: hidden;
                width: 25%;
                border-bottom: solid 3px rgba(255, 255, 255, .5);
                position: absolute;
                left: 50%;
                top: 80%;
            }

            &:hover {
                color: rgba(255, 255, 255, .5);
            }

            &:hover:after {
                visibility: visible;
            }

            i {
                padding-right: 0.625rem;
            }
        }

        &.active a::after {
            content: '';
            visibility: visible;
            width: 25%;
            border-bottom: solid 3px #fff;
            position: absolute;
            left: 50%;
            top: 80%;
        }
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1.1em;
        height: 1.25rem;
        background: linear-gradient(135deg, $header-color 25%, transparent 25%),
            linear-gradient(225deg, $header-color 25%, transparent 25%);
        background-size: 1.25rem 2.5rem;
        background-color: transparent;
        z-index: 2;
    }  
}