@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan");
* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

html {
  font: normal 16px/1.5 'Baloo Bhaijaan', cursive;
}

body,
input,
textarea,
select,
option,
table,
th,
td,
hr {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0.5em 0 1em 0;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1.5em;
}

section {
  padding-bottom: 2em;
  padding-top: 2em;
}

li {
  list-style-position: inside;
}

.fas,
.fa {
  padding-right: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  min-height: 75rem;
  padding-top: 8.4rem;
  color: #818181;
}

.carousel-caption {
  right: auto;
  left: 21%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  top: 15%;
  border-radius: 18px;
  bottom: auto;
}

.carousel-caption .btn {
  border-color: #fff;
  color: #fff;
}

.welcome {
  background-color: #c5f1ae;
  position: relative;
}

.welcome .title {
  font-size: 2rem;
}

.welcome .title::before {
  content: '';
  position: absolute;
  top: 18%;
  left: 47%;
  height: 5px;
  background: #818181;
  margin: 0 auto;
  width: 7%;
}

.welcome .title::after {
  content: '';
  position: absolute;
  top: 19%;
  left: 42%;
  height: 4px;
  background: #818181;
  margin: 0 auto;
  width: 17%;
}

.welcome .title::before {
  left: 10%;
  width: 11%;
}

.welcome .title::after {
  left: 2%;
  width: 28%;
}

.welcome .bicylke {
  max-width: 100%;
}

.welcome .bicylke:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.zig-zag.section-separator {
  border: none;
  height: 40px;
  margin: 0;
}

.zig-zag.section-separator.first {
  background: linear-gradient(135deg, #c5f1ae 25%, transparent 25%) -20px 0, linear-gradient(225deg, #c5f1ae 25%, transparent 25%) -20px 0, linear-gradient(315deg, #c2e0ec 25%, transparent 25%), linear-gradient(45deg, #c2e0ec 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: #ebe8e8;
}

.zig-zag.section-separator.second {
  background: linear-gradient(135deg, #c2e0ec 25%, transparent 25%) -20px 0, linear-gradient(225deg, #c2e0ec 25%, transparent 25%) -20px 0, linear-gradient(315deg, #fff0b5 25%, transparent 25%), linear-gradient(45deg, #fff0b5 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: #ebe8e8;
}

.zig-zag.section-separator.third {
  background: linear-gradient(135deg, #fff0b5 25%, transparent 25%) -20px 0, linear-gradient(225deg, #fff0b5 25%, transparent 25%) -20px 0, linear-gradient(315deg, #fcd0c7 25%, transparent 25%), linear-gradient(45deg, #fcd0c7 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: #ebe8e8;
}

.zig-zag.section-separator.fourth {
  background: linear-gradient(135deg, #fcd0c7 25%, transparent 25%) -20px 0, linear-gradient(225deg, #fcd0c7 25%, transparent 25%) -20px 0, linear-gradient(315deg, #cfcccc 25%, transparent 25%), linear-gradient(45deg, #cfcccc 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: #ebe8e8;
}

.activities {
  padding: 50px 0;
  width: 100%;
  color: #818181;
  background-color: #c2e0ec;
  position: relative;
}

.activities .title {
  font-size: 2rem;
}

.activities .title::before {
  content: '';
  position: absolute;
  top: 18%;
  left: 47%;
  height: 5px;
  background: #818181;
  margin: 0 auto;
  width: 7%;
}

.activities .title::after {
  content: '';
  position: absolute;
  top: 19%;
  left: 42%;
  height: 4px;
  background: #818181;
  margin: 0 auto;
  width: 17%;
}

.activities .activity {
  margin-top: 40px;
}

.activities .activity h5 {
  padding: 0.8em 0;
}

.activities .activity .icon-container {
  border-radius: 50%;
  padding: 28px;
  background-color: #e9c19a;
  width: 7em;
  height: 7em;
  margin: 0 auto;
  position: relative;
}

.activities .activity .icon-container:hover {
  background-color: #fff;
}

.activities .activity .icon-container:hover i {
  color: #e9c19a;
}

.activities .activity .icon-container i {
  font-size: 3.5em;
  color: #fff;
}

.activities .activity .icon-container .border-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px dashed #e9c19a;
  background: transparent;
  border-radius: 50%;
}

.activities .activity .icon-container .border-icon:hover {
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.gallery {
  background-color: #fff0b5;
  padding: 50px 0;
  position: relative;
}

.gallery .title {
  font-size: 2rem;
}

.gallery .title::before {
  content: '';
  position: absolute;
  top: 11.5%;
  left: 47%;
  height: 5px;
  background: #818181;
  margin: 0 auto;
  width: 7%;
}

.gallery .title::after {
  content: '';
  position: absolute;
  top: 12%;
  left: 42%;
  height: 4px;
  background: #818181;
  margin: 0 auto;
  width: 17%;
}

.gallery .title::after {
  left: 43%;
  width: 15%;
}

.gallery .btn-group {
  margin-left: 20rem;
  margin-top: 2rem;
  /* Add a grey background color on mouse-over */
  /* Add a dark background color to the active button */
}

.gallery .btn-group .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  color: #818181;
}

.gallery .btn-group .btn:hover {
  background-color: #ddd;
}

.gallery .btn-group .btn.active {
  background-color: #666;
  color: white;
}

.gallery .img-container {
  padding: 0.5em;
}

.gallery .img-container .img-thumbnail {
  border: 2px solid white;
  border-radius: 1.25rem;
}

.animate {
  text-align: center;
  color: #555;
  font-size: 32px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.animate div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animate div:first-of-type {
  /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now */
  -webkit-animation: showup 7s infinite;
          animation: showup 7s infinite;
}

.animate div:last-of-type {
  width: 0px;
  -webkit-animation: reveal 7s infinite;
          animation: reveal 7s infinite;
}

.animate div:last-of-type span {
  margin-left: -355px;
  -webkit-animation: slidein 7s infinite;
          animation: slidein 7s infinite;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

.circle1 {
  width: 100px;
  height: 100px;
  position: relative;
}

.circle1 .border1 {
  /* content: ''; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 2px dashed #c73131;
}

.circle1 .border1:hover {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.play {
  padding: 20px 30px;
  font-size: 56px;
}

.zig-zag.separator-transparent {
  border: none;
  position: relative;
  top: -88px;
  right: 0;
  height: 40px;
  background: linear-gradient(315deg, #ebe8e8 25%, transparent 25%), linear-gradient(45deg, #ebe8e8 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: transparent;
  z-index: 2;
}

.zig-zag.separator-after-transparent {
  border: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -6.5em;
  right: 0px;
  height: 40px;
  background: linear-gradient(135deg, #ebe8e8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #ebe8e8 25%, transparent 25%) -20px 0;
  background-size: 40px 40px;
  background-color: transparent;
}

.crcl {
  background-color: #fcd0c7;
}

/* gallery-jekyll*/
.navbar {
  background: #e9c19a;
  position: relative;
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-item {
  padding-right: 1em;
}

.navbar .nav-item a {
  color: #ffffff;
  font-size: 1.2em;
  position: relative;
}

.navbar .nav-item a::after {
  content: '';
  visibility: hidden;
  width: 25%;
  border-bottom: solid 3px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 80%;
}

.navbar .nav-item a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-item a:hover:after {
  visibility: visible;
}

.navbar .nav-item a i {
  padding-right: 10px;
}

.navbar .nav-item.active a::after {
  content: '';
  visibility: visible;
  width: 25%;
  border-bottom: solid 3px #fff;
  position: absolute;
  left: 50%;
  top: 80%;
}

.navbar:before, .navbar:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.1em;
  height: 20px;
  background: linear-gradient(135deg, #ebe8e8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #ebe8e8 25%, transparent 25%) -20px 0;
  background-size: 40px 40px;
  background-color: transparent;
  z-index: 2;
}

.navbar:after {
  bottom: 0;
  height: 40px;
  background: linear-gradient(315deg, #ebe8e8 25%, transparent 25%), linear-gradient(45deg, #ebe8e8 25%, transparent 25%);
  background-size: 40px 40px;
}

footer {
  background-color: #cfcccc;
}
/*# sourceMappingURL=style.css.map */