@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan");
* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 3.15rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -1.25rem;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 3.15rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -1.25rem;
  }
}

html {
  font: normal 16px/1.5 'Baloo Bhaijaan', cursive;
}

body,
input,
textarea,
select,
option,
table,
th,
td,
hr {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0.5em 0 1em 0;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1.5em;
}

li {
  list-style-position: inside;
}

.fas,
.fa {
  padding-right: 0.625rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.hidden {
  opacity: 0;
}

body {
  min-height: 75rem;
  padding-top: 8.4rem;
  color: #818181;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.zig-zag.section-separator {
  border: none;
  height: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.zig-zag.section-separator.first {
  background: linear-gradient(135deg, #aec5a5 25%, transparent 25%) -1.25rem 0, linear-gradient(225deg, #aec5a5 25%, transparent 25%) -1.25rem 0, linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
  background-size: 1.25rem 2.5rem;
  background-color: #ffffff;
}

.zig-zag.section-separator.second {
  background: linear-gradient(135deg, #fff 25%, transparent 25%) -1.25rem 0, linear-gradient(225deg, #fff 25%, transparent 25%) -1.25rem 0, linear-gradient(315deg, #aec5a5 25%, transparent 25%), linear-gradient(45deg, #aec5a5 25%, transparent 25%);
  background-size: 1.25rem 2.5rem;
  background-color: #ffffff;
}

.zig-zag.section-separator.third {
  background: linear-gradient(135deg, #aec5a5 25%, transparent 25%) -1.25rem 0, linear-gradient(225deg, #aec5a5 25%, transparent 25%) -1.25rem 0, linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
  background-size: 1.25rem 2.5rem;
  background-color: #ffffff;
}

.zig-zag.section-separator.fourth {
  background: linear-gradient(135deg, #fff 25%, transparent 25%) -1.25rem 0, linear-gradient(225deg, #fff 25%, transparent 25%) -1.25rem 0, linear-gradient(315deg, #cfcccc 25%, transparent 25%), linear-gradient(45deg, #cfcccc 25%, transparent 25%);
  background-size: 1.25rem 2.5rem;
  background-color: #ffffff;
  margin: 0;
}

.title {
  font-size: 2rem;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  top: 86%;
  left: 47%;
  height: 5px;
  background: #818181;
  margin: 0 auto;
  width: 7%;
}

.title::after {
  content: '';
  position: absolute;
  top: 96%;
  left: 42%;
  height: 4px;
  background: #818181;
  margin: 0 auto;
  width: 17%;
}

a.btn-link {
  background: #8da187;
  color: #fff;
}

a.btn-link:hover {
  background: #ffffff;
  color: #818181;
  border: 1px solid gray;
  text-decoration: none;
}

.slider {
  position: relative;
}

.slider .carousel-caption {
  right: auto;
  left: 21%;
  padding: 1.875rem;
  background: rgba(0, 0, 0, 0.2);
  top: 15%;
  border-radius: 1.125rem;
  bottom: auto;
}

.slider .carousel-caption .btn {
  border-color: #fff;
  color: #fff;
}

.slider:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5rem;
  background: linear-gradient(315deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transparent 25%);
  background-size: 1.25rem 2.5rem;
  background-color: transparent;
  z-index: 2;
}

.offer {
  background-color: #ffffff;
  background-image: url("./../assets/images/pattern2.png");
}

.offer .title {
  margin-top: 5rem;
}

.offer .card {
  border: none;
  background: transparent;
  padding: 1.25rem;
}

.offer .card img {
  width: 70%;
  margin: 0 auto;
}

.offer .card .card-body {
  text-align: center;
}

.offer .card .card-body .card-title {
  color: #e9c19a;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.services {
  background-color: #aec5a5;
  position: relative;
  line-height: 2rem;
}

.services .services-icon {
  max-width: 100%;
  padding-top: 3rem;
}

.services .service-card {
  position: relative;
  overflow: hidden;
  border-radius: 10%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.services .service-card:hover {
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.12);
}

.services .service-card img {
  max-width: 100%;
  border-radius: 10%;
}

.services .service-card .card-info {
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  top: 100%;
}

.services .service-card .card-info p {
  text-align: center;
}

.services .service-card .card-info a.btn {
  border-color: #fff;
  color: #fff;
}

.services .service-card:hover .card-info {
  top: 0;
}

.activities {
  width: 100%;
  color: #818181;
  position: relative;
}

.activities .activity {
  margin-top: 2.5rem;
}

.activities .activity h5 {
  color: #e9c19a;
  margin: 0;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.activities .activity .icon-container {
  border-radius: 50%;
  padding: 1.45rem;
  background-color: #e9c19a;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  position: relative;
}

.activities .activity .icon-container:hover {
  background-color: #fff;
}

.activities .activity .icon-container:hover i {
  color: #e9c19a;
}

.activities .activity .icon-container i {
  font-size: 3rem;
  color: #fff;
}

.activities .activity .icon-container .border-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px dashed #e9c19a;
  background: transparent;
  border-radius: 50%;
}

.activities .activity .icon-container .border-icon:hover {
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.gallery {
  background-color: #aec5a5;
  position: relative;
}

.gallery .btn-group {
  margin-left: 20rem;
  margin-top: 2rem;
}

.gallery .btn-group .btn {
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  color: #818181;
}

.gallery .btn-group .btn:hover {
  background-color: #ddd;
}

.gallery .btn-group .btn:focus, .gallery .btn-group .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gallery .btn-group .btn.current {
  background-color: #666666;
  color: white;
}

.gallery .filter {
  padding: 0;
}

.gallery .filter i {
  color: #666666;
  font-size: 3rem;
  visibility: hidden;
  position: absolute;
  top: 40%;
  left: 45%;
}

.gallery .filter .img-container {
  margin: 0.5rem;
  border: 4px solid white;
  border-radius: 1.25rem;
  overflow: hidden;
}

.gallery .filter .img-container img {
  max-width: 100%;
  -webkit-transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.gallery .filter .img-container:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery .filter:hover .img-container {
  opacity: 0.5;
  background: rgba(61, 57, 54, 0.5);
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

.gallery .filter:hover i {
  visibility: visible;
}

.testimonials {
  background-image: url(./../assets/images/pattern.png);
}

.testimonials .carousel-inner .carousel-item .img-box {
  width: 8.45rem;
  height: 8.45rem;
}

.testimonials .carousel-inner h5 strong {
  color: #e9c19a;
}

.testimonials .carousel-control-prev-icon {
  left: -6.25rem;
  color: #e9c19a;
}

.testimonials .carousel-control-next-icon {
  right: -6.25rem;
  color: #e9c19a;
}

@media (min-width: 320px) and (max-width: 640px) {
  .testimonials .carousel-inner .carousel-item p {
    font-size: 14px;
  }
  .testimonials .carousel-control-prev {
    left: -2.5rem;
  }
  .testimonials .carousel-control-next {
    right: -2.5rem;
  }
  .testimonials .carousel-indicators {
    top: 25rem;
  }
}

.animate {
  text-align: center;
  color: #555;
  font-size: 32px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.animate div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animate div:first-of-type {
  /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now */
  -webkit-animation: showup 7s infinite;
          animation: showup 7s infinite;
}

.animate div:last-of-type {
  width: 0px;
  -webkit-animation: reveal 7s infinite;
          animation: reveal 7s infinite;
}

.animate div:last-of-type span {
  margin-left: -355px;
  -webkit-animation: slidein 7s infinite;
          animation: slidein 7s infinite;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

.crcl {
  background-color: #e9c19a;
}

main .divs {
  margin: 50px;
  padding: 50px;
  background-color: pink;
}

.welcome {
  background: url("./../assets/images/pattern2.png");
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.welcome ul li.nav-item a.nav-link {
  color: #818181;
  background-color: transparent;
  border: none;
}

.welcome ul li.nav-item a.nav-link:hover {
  background-color: #ddd;
}

.welcome ul li.nav-item a.nav-link.active,
.welcome ul li.nav-item a.nav-link .show > .nav-link {
  color: #fff;
  background-color: #8da187;
}

.welcome ul li.nav-item:first-of-type a {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.welcome ul li.nav-item:last-of-type a {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.welcome .bicylke {
  max-width: 100%;
}

.welcome .bicylke:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.classes {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.classes .row {
  padding: 1.875rem 0;
}

.classes .row .card {
  border-radius: 10%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px #eaeaea;
  box-shadow: 0px 0px 0px 8px #eaeaea;
  border: none;
  padding: 0;
}

.classes .row .card:hover {
  -webkit-box-shadow: 0px 0px 0px 12px #d6d6d6;
  box-shadow: 0px 0px 0px 12px #d6d6d6;
}

.classes .row .card img {
  max-width: 100%;
  -webkit-border-top-left-radius: 14%;
  -webkit-border-top-right-radius: 14%;
  border-top-left-radius: 14%;
  border-top-right-radius: 14%;
}

.classes .row .card .price-box {
  position: absolute;
  bottom: 11rem;
  left: 1rem;
}

.classes .row .card .price-box .price {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  z-index: 2;
  color: #fff;
}

.classes .row .card .price-box .burst-12 {
  background: #aec5a5;
  width: 3rem;
  height: 3rem;
  position: relative;
  text-align: center;
}

.classes .row .card .price-box .burst-12:before, .classes .row .card .price-box .burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;
  background: #aec5a5;
}

.classes .row .card .price-box .burst-12:before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.classes .row .card .price-box .burst-12:after {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.classes .row .card .card-body .badge {
  color: #fff;
  background-color: #aec5a5;
  padding: 0.4rem;
}

.teachers {
  background: url("./../assets/images/pattern.png");
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.teachers .teacher {
  border-radius: 10%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px #eaeaea;
  box-shadow: 0px 0px 0px 8px #eaeaea;
}

.teachers .teacher:hover {
  -webkit-box-shadow: 0px 0px 0px 12px #d6d6d6;
  box-shadow: 0px 0px 0px 12px #d6d6d6;
}

.teachers .teacher .teacher-card {
  position: relative;
  overflow: hidden;
}

.teachers .teacher .teacher-card img {
  max-width: 100%;
  -webkit-border-top-left-radius: 10%;
  -webkit-border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.teachers .teacher .teacher-card .teacher-info {
  padding: 2.5rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  -webkit-border-top-left-radius: 10%;
  -webkit-border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  top: 100%;
}

.teachers .teacher .teacher-card .teacher-info p {
  text-align: center;
}

.teachers .teacher .teacher-card .teacher-info .teacher-social-icons a {
  display: inline-block;
  position: relative;
  margin: 0.3rem;
  border-radius: 50%;
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  background-color: transparent;
}

.teachers .teacher .teacher-card .teacher-info .teacher-social-icons a.icoFacebook:hover {
  background-color: #3B5998;
}

.teachers .teacher .teacher-card .teacher-info .teacher-social-icons a.icoTwitter:hover {
  background-color: #33ccff;
}

.teachers .teacher .teacher-card .teacher-info .teacher-social-icons a.icoInstagram:hover {
  background-color: #41779f;
}

.teachers .teacher .teacher-card .teacher-info .teacher-social-icons a.icoSkype:hover {
  background-color: #00aff0;
}

.teachers .teacher .teacher-card .teacher-info .teacher-social-icons a i {
  margin: 0;
  line-height: 2rem;
  text-align: center;
  color: #fff;
}

.teachers .teacher .teacher-card:hover .teacher-info {
  top: 0;
}

.contact-form {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact-form ul {
  list-style-type: none;
}

.contact-form ul img {
  max-width: 100%;
}

.contact-form ul .flex-item {
  height: 2.5rem;
}

.contact-form ul .content {
  height: 5rem;
}

.contact-form form button {
  background: #8da187;
  color: #fff;
}

.contact-form form button:hover {
  background: #ffffff;
  color: #818181;
  border: 1px solid gray;
  text-decoration: none;
}

.contact-form form textarea {
  line-height: 1.65;
}

.classes-list {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.classes-list .row > div:nth-child(odd) .class-card {
  background-color: #aec5a5;
}

.classes-list .row > div:nth-child(even) .class-card {
  background-color: #e9c19a;
}

.classes-list .class-card {
  padding: 1rem;
  border: none;
  border-radius: 5%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px #eaeaea;
  box-shadow: 0px 0px 0px 8px #eaeaea;
  color: #fff;
}

.classes-list .class-card .class-image {
  position: relative;
  border-radius: 5%;
  background-color: white;
}

.classes-list .class-card .class-image a {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
}

.classes-list .class-card .class-image img {
  max-width: 100%;
  border-radius: 5%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.classes-list .class-card .class-image:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

.classes-list .class-card .class-image:hover a {
  display: block;
}

.classes-list .class-card .class-info .badge {
  background-color: #faf289;
}

.classes-list .class-card:hover {
  -webkit-box-shadow: 0px 0px 0px 12px #d6d6d6;
  box-shadow: 0px 0px 0px 12px #d6d6d6;
}

.timetable {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.timetable table a {
  color: #fff;
}

.timetable table a:hover {
  text-decoration: none;
}

.timetable table thead th {
  text-align: center;
  font-weight: bold;
  padding: 0.75rem 0;
}

.timetable table tbody th {
  vertical-align: middle;
  font-weight: bold;
  padding: 0 1rem;
}

.timetable table tbody td {
  color: #fff;
  border: 1px solid #fff;
}

.timetable table tbody td:hover {
  background-color: lightgray;
}

.timetable table tbody .green {
  background-color: #aec5a5;
}

.timetable table tbody .pink {
  background-color: #e9c19a;
}

.navbar {
  background: #e9c19a;
  position: relative;
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-item {
  padding-right: 1em;
}

.navbar .nav-item a {
  color: #ffffff;
  font-size: 1.2em;
  position: relative;
}

.navbar .nav-item a::after {
  content: '';
  visibility: hidden;
  width: 25%;
  border-bottom: solid 3px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 80%;
}

.navbar .nav-item a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-item a:hover:after {
  visibility: visible;
}

.navbar .nav-item a i {
  padding-right: 0.625rem;
}

.navbar .nav-item.active a::after {
  content: '';
  visibility: visible;
  width: 25%;
  border-bottom: solid 3px #fff;
  position: absolute;
  left: 50%;
  top: 80%;
}

.navbar:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.1em;
  height: 1.25rem;
  background: linear-gradient(135deg, #e9c19a 25%, transparent 25%), linear-gradient(225deg, #e9c19a 25%, transparent 25%);
  background-size: 1.25rem 2.5rem;
  background-color: transparent;
  z-index: 2;
}

footer {
  background-color: #cfcccc;
}

footer .container {
  padding-top: 2rem;
  position: relative;
}

footer .container h4::after {
  content: '';
  width: 15%;
  border-bottom: solid 3px #818181;
  position: absolute;
  left: 5%;
  top: 15%;
}

footer .container .address > div {
  padding: 0.65rem;
}

footer .container .social-icons a {
  display: inline-block;
  position: relative;
  margin: 0.3rem;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  background-color: transparent;
}

footer .container .social-icons a.icoFacebook:hover {
  background-color: #3B5998;
}

footer .container .social-icons a.icoTwitter:hover {
  background-color: #33ccff;
}

footer .container .social-icons a.icoGoogle:hover {
  background-color: #BD3518;
}

footer .container .social-icons a.icoYoutube:hover {
  background-color: #ed302f;
}

footer .container .social-icons a.icoInstagram:hover {
  background-color: #41779f;
}

footer .container .social-icons a.icoFacebook:hover i,
footer .container .social-icons a.icoTwitter:hover i,
footer .container .social-icons a.icoGoogle:hover i,
footer .container .social-icons a.icoYoutube:hover i,
footer .container .social-icons a.icoInstagram:hover i {
  color: #fff;
}

footer .container .social-icons a:hover i {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .container .social-icons a i {
  margin: 0;
  line-height: 3rem;
  text-align: center;
  color: #818181;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

footer .container form button {
  background: transparent;
  border: 1px solid #818181;
}

footer .container form button:hover {
  background: white;
  color: #818181;
  border: 1px solid #818181;
}
/*# sourceMappingURL=style.css.map */