@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan");
* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

html {
  font: normal 16px/1.5 'Baloo Bhaijaan', cursive;
}

body,
input,
textarea,
select,
option,
table,
th,
td,
hr {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0.5em 0 1em 0;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1.5em;
}

section {
  padding-bottom: 2em;
  padding-top: 2em;
}

li {
  list-style-position: inside;
}

.fas,
.fa {
  padding-right: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

body {
  min-height: 75rem;
  padding-top: 8.4rem;
  color: #8d8080;
}

.colour-block {
  background: #dbe9d8;
  width: 100%;
  color: #fff;
}

.white-block {
  background: #fff;
  width: 100%;
  color: #dbe9d8;
}

.after-slider {
  margin-top: -25px;
}

.scallop-up {
  height: 25px;
  width: 100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#dbe9d8), color-stop(0.49, #dbe9d8), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  -webkit-background-size: 49px 100%;
}

.scallop-down {
  height: 25px;
  width: 100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#dbe9d8), color-stop(0.49, #dbe9d8), color-stop(0.51, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  -webkit-background-size: 49px 100%;
}

.title {
  font-size: 2rem;
}

.separator {
  border: 0;
  height: 3px;
  background: #b0aac2;
  margin: 0 auto;
  width: 20%;
}

.separator-min {
  border: 0;
  height: 5px;
  background: #b0aac2;
  margin: 0 auto;
  width: 7%;
}

.carousel-caption {
  right: auto;
  left: 21%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.178);
  top: 15%;
  border-radius: 18px;
  bottom: auto;
}

.carousel-caption .btn {
  border-color: #fff;
  color: #fff;
}

.welcome {
  background-color: #b0aac2;
}

.welcome .bicylke {
  max-width: 100%;
}

.zig-zag.section-separator {
  border: none;
  height: 40px;
  margin: 0;
}

.zig-zag.section-separator.first {
  background: linear-gradient(135deg, #b0aac2 25%, transparent 25%) -20px 0, linear-gradient(225deg, #b0aac2 25%, transparent 25%) -20px 0, linear-gradient(315deg, #f2efe8 25%, transparent 25%), linear-gradient(45deg, #f2efe8 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: white;
}

.zig-zag.section-separator.second {
  background: linear-gradient(135deg, #f2efe8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #f2efe8 25%, transparent 25%) -20px 0, linear-gradient(315deg, #c2d4d8 25%, transparent 25%), linear-gradient(45deg, #c2d4d8 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: white;
}

.zig-zag.section-separator.third {
  background: linear-gradient(135deg, #c2d4d8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #c2d4d8 25%, transparent 25%) -20px 0, linear-gradient(315deg, #dbe9d8 25%, transparent 25%), linear-gradient(45deg, #dbe9d8 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: white;
}

.zig-zag.section-separator.fourth {
  background: linear-gradient(135deg, #dbe9d8 25%, transparent 25%) -20px 0, linear-gradient(225deg, #dbe9d8 25%, transparent 25%) -20px 0, linear-gradient(315deg, #dddfd4 25%, transparent 25%), linear-gradient(45deg, #dddfd4 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: white;
}

.activities {
  padding: 50px 0;
  width: 100%;
  color: #8d8080;
  background-color: #f2efe8;
}

.activities .activity {
  margin-top: 40px;
}

.activities .activity h5 {
  padding: 0.8em 0;
  color: #b0aac2;
}

.activities .activity .icon-container {
  border-radius: 50%;
  padding: 28px;
  background-color: #dbe9d8;
  width: 7em;
  height: 7em;
  margin: 0 auto;
  position: relative;
}

.activities .activity .icon-container:hover {
  background-color: #fff;
}

.activities .activity .icon-container:hover i {
  color: #dbe9d8;
}

.activities .activity .icon-container i {
  font-size: 3.5em;
  color: #fff;
}

.activities .activity .icon-container .border-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px dashed #dbe9d8;
  background: transparent;
  border-radius: 50%;
}

.activities .activity .icon-container .border-icon:hover {
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.gallery {
  background-color: #c2d4d8;
}

.gallery .btn-group {
  margin-left: 20rem;
}

.gallery .img-container {
  padding: 0.5em;
}

.gallery .img-container .img-thumbnail {
  border: 2px solid white;
  border-radius: 1.25rem;
}

.animate {
  text-align: center;
  color: #555;
  font-size: 32px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.animate div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animate div:first-of-type {
  /* For increasing performance 
                             ID/Class should've been used. 
                             For a small demo 
                             it's okaish for now */
  -webkit-animation: showup 7s infinite;
          animation: showup 7s infinite;
}

.animate div:last-of-type {
  width: 0px;
  -webkit-animation: reveal 7s infinite;
          animation: reveal 7s infinite;
}

.animate div:last-of-type span {
  margin-left: -355px;
  -webkit-animation: slidein 7s infinite;
          animation: slidein 7s infinite;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

.circle1 {
  width: 100px;
  height: 100px;
  position: relative;
}

.circle1 .border1 {
  /* content: ''; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 2px dashed #c73131;
}

.circle1 .border1:hover {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.play {
  padding: 20px 30px;
  font-size: 56px;
}

.zig-zag.separator-transparent {
  border: none;
  position: relative;
  top: -88px;
  right: 0;
  height: 40px;
  background: linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: transparent;
  z-index: 2;
}

.zig-zag.separator-after-transparent {
  border: none;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -6.5em;
  right: 0px;
  height: 40px;
  background: linear-gradient(135deg, #fff 25%, transparent 25%) -20px 0, linear-gradient(225deg, #fff 25%, transparent 25%) -20px 0;
  background-size: 40px 40px;
  background-color: transparent;
}

.crcl {
  background-color: #dbe9d8;
}

.navbar {
  background: #dbe9d8;
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-item {
  padding-right: 1em;
}

.navbar .nav-item a {
  color: #fff;
  font-size: 1.2em;
  position: relative;
}

.navbar .nav-item a::after {
  content: '';
  visibility: hidden;
  width: 25%;
  border-bottom: solid 3px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 80%;
}

.navbar .nav-item a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-item a:hover:after {
  visibility: visible;
}

.navbar .nav-item a i {
  padding-right: 10px;
}

.navbar .nav-item.active a::after {
  content: '';
  visibility: visible;
  width: 25%;
  border-bottom: solid 3px #fff;
  position: absolute;
  left: 50%;
  top: 80%;
}

.zig-zag.header {
  border: none;
  position: relative;
  top: -40px;
  right: 0;
  height: 20px;
  background: linear-gradient(135deg, #fff 25%, transparent 25%) -20px 0, linear-gradient(225deg, #fff 25%, transparent 25%) -20px 0, linear-gradient(315deg, rgba(255, 255, 255, 0) 25%, transparent 25%), linear-gradient(45deg, rgba(255, 255, 255, 0) 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: transparent;
  z-index: 2;
  margin: 0;
}

.zig-zag.header-transparent {
  border: none;
  position: relative;
  top: -40px;
  right: 0;
  height: 40px;
  background: linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: transparent;
  z-index: 2;
  margin: 0;
}

footer {
  background-color: #dddfd4;
}
/*# sourceMappingURL=style.css.map */