<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <h4>
                    About
                </h4>
                <p>
                    We help your children develop properly and grow through hands-on learning and fun experiences.
                </p>
                <div class="address">
                    <div>
                        <i class="fas fa-phone"></i>
                        <span>1 (800) 345- 6789</span>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>123, New Lenox</span>
                        <span> Chicago, IL 60606</span>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <span>info@yoursite.com</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <h4>
                    Follow us
                </h4>
                <p>
                    Accusamus iusto odio dignissimos ducimus qui blanditiis praesentium. Accusamus iusto odio dignissimos ducimus qui blanditiis praesentium.
                </p>
                <div class="social-icons">
                    <a href="#" class="icoFacebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icoTwitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="icoGoogle"><i class="fab fa-google-plus-g"></i></a> 
                    <a href="#" class="icoInstagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="icoYoutube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <h4>
                    Newsletter
                </h4>
                <p>Voluptas sit aspernatur consequuntur. Voluptas sit aspernatur consequuntur. Voluptas sit aspernatur consequuntur.</p>
                <form>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                  </form>
            </div>
        </div>
    </div>
</footer>