<section class="gallery unhidden">
        <hr class="zig-zag section-separator second" />
    <div class="container">
        <h3 class="title text-uppercase text-center">Our gallery</h3>
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary filter-button current" data-filter="all">All</button>
            <button type="button" class="btn btn-primary filter-button" data-filter="playground">Playground</button>
            <button type="button" class="btn btn-primary filter-button" data-filter="class">Classes</button>
            <button type="button" class="btn btn-primary filter-button" data-filter="enjoyment">Enjoyment</button>
        </div>
        <div class="row">
            {% for image in site.data.gallery %}
                <div class="col-12 col-sm-6 col-md-3 filter {{ image.data}}">
                    <i class="fas fa-search-plus"></i>
                    <div class="img-container">
                        <a data-toggle="lightbox" data-gallery="example-gallery" href="{{ site.baseurl }}/assets/images/gallery/{{ image.name }}">
                          <!-- data-fancybox="gallery"  -->
                            <img src="{{ site.baseurl }}/assets/images/gallery/{{ image.name }}" alt="{{image.data}}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="zig-zag section-separator third" />
</section>